*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #EBEBEB;   
}
header{
    width: 100%;
    background-color: white;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    align-content: center;
    justify-content: space-evenly;
}

.logo_buntu{
    height: 89px;
    width: 159px;
    margin-right: 368px;
    color: #024A5E;
}
.cart{
    width: 35px;
    height: 37px;
    margin-top: 25px;
    margin-left: 20px;
   
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
}
li a{
    text-decoration: none;
    color: white;
}
.nav_links li{
    background-color: #024A5E;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    border-color: black;
    border-style: groove;
    position: relative;
    z-index: 1;
    transition: 
        scale 0.25s ease-in,
        opacity 0.25s ease-in,
        filter 0.25 ease-in;
    &:hover{
        scale: 1.2;
    }
    
}
.nav_links:has(li:hover) li:not(:hover){
    scale: 0.8;
    opacity: 0.8;
    filter: blur(4px);
}

.nav_links li::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.537);
    border-radius: 20px;
    z-index: -1;
    transition: transform 200ms ease-in;
}

.nav_links li::after{
    transform: scaleX(0);
    transform-origin: right;
}
.nav_links li:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}




/* Now I want to do tranfomation and trinsition of the website*/

.server a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0.5);
    transform-origin: left;
    transition: transform 250ms ease-in;
}
.server a:hover::after{
    transform: scaleX(1.4);
    transform-origin: left;
}
.help::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 4, 19, 0.4);
    border-radius: 5px;
    z-index: -1;
    transition: transform 200ms ease-in;
}

.help::after{
    transform: scaleX(0);
    transform-origin: right;
}
.help:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}


header nav{
    align-content: center;
   
}
header .logoB{
    margin-right: 68px;
}
#section1 .welcome_bar{
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(./assets/p1.webp);
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px 15px 10px 15px;
    align-content: center;
    display: flex;
    justify-content: space-between;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
}
.help{
    background-color: #6C8FC3;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    position: relative;
    z-index: 1;
}
.server a{
    color: #253790;
    margin: 20px 30px;
    position: relative;
    text-decoration: none;
}
.services_info{
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #024A5E;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    overflow: hidden;
    height: 300px;
    width: 95%;
}
.service{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    
    flex-direction: column;
    margin: 40px;
}

.service img{
    width: 100px; 
    height: auto;
    margin-bottom: 15px;
}
.service.active {
    opacity: 1;
}
.services_info .info{
    margin-top: 10px;
}
.services_info .serv{
    color: #253790;
    font-size: xx-large;
    font-weight: 400;
    
}

.services_info #hosting{
    width: 500px;
    height: 180px;
    border-radius: 5px;
}
#section1 .offers{
    background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), url(./assets/p1.webp);
    background-size: cover;
    background-position: center;
    justify-content: center;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 15px;
    padding-bottom: 90px;
    height: inherit;
    margin-top: 40px;
}
.offers h2{
    margin-bottom: 20px;
    position: relative;
}
.offers p{
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
}

.offers p::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255, 0.2);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 250ms ease-in;
}
.offers p:hover::after{
    transform: scaleX(1.4);
    transform-origin: right;
}

.offers #afford{
    margin-top: 20px;
    background-color: #D9D9D9;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
}
footer{
    padding: 30px;
    background: #354661;
    margin-top: 20px;
    color: white;
    text-align: center;
}
#section2 .our_services{
    background-position: center;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    
}
.our_services .all_service{
    display: flex;
    margin: 40px;
    width: 1005;
    justify-content: space-evenly;
}
.all_service span{
    background-color: #356480;
    padding: 20px 30px 20px 30px;
    border-radius: 15px;
    color: white;
    text-align: center;
    
}
.all_service span h3,h4{
    margin-bottom: 20px;
}

.all_service span ul li{
    margin-bottom: 10px;
    font-size: small;

}
.all_service span #carrt{
    margin-top: 30px;
    padding: 5px 30px 5px 30px;
    font-weight: bold;
}
.package{
    margin-left: 30px;
    margin-top: 50px;
    margin-right: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    color: #024A5E;
}
.package h3{
    margin-bottom: 20px;
}
.package p{
    padding-left: 20px;
}
.package #interested{
    background-color: #024A5E;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
}
.media{
    display: flex;
    margin-left: 30px;
}
.media .all{
    background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), url(./assets/p1.webp);
    width: 80%;
    margin-right: 80px;
    padding: 30px;
    border-radius: 15px;
    color: white;
}
#go_back{
    background-color: #024A5E;
    color: white;
    font-weight: bold;
    padding: 10px 35px 10px 35px;
    border-radius: 5px;
}
.media_list{
    display: flex;
    margin-bottom: 20px;
}
.all .media_list a{
    text-decoration: none;
    margin-left: 30px;
}
.us{
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(./assets/p1.webp);
    height: 250px;
    align-content: center;
    text-align: center;
    color: white;
    font-weight: bold;
    width: 100%;
    padding-top: 60px;

}
.us h1{
    font-size: x-large;
    font-weight: 600;
}
.who_we_are{
    margin: 40px;
    text-align: center;
}
.who_we_are h1{
    color: #024A5E;
    font-size: x-large;
}
.more_about{
    display: flex;
    text-align: center;
    margin: 30px;
    justify-content: space-between;
}
.more_about #mission, #background{
    background-color: #D9D9D9;
}
.more_uss{
    color: #354661;
    margin: 30px;
}
.team_title{
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(./assets/p1.webp);
    padding: 30px;
    text-align: center;
    color: white;
}
.contact_us{
    display: flex;
    margin: 40px;
    justify-content: space-between;
}
.location p, .content p{
    color: #918E8E;
}
.content h3{
    color: #356480;
}
form{
    max-width: 600px;
    margin: auto;
    padding: 20px;
}
.form_raw{
    display: flex;
    margin-bottom: 20px;
}
.form_group{
    margin-right: 40px;
}
label{
    font-weight: bold;
    margin-bottom: 8px;
}
input, select{
   border: 2px solid #ccc;
   border-radius: 20px;
   padding: 10px;
   background-color: #ccc;
}
.form_group span{
    color: red;
}
textarea{
    padding: 60px;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: #ccc;
}
form button{
    background-color: #024A5E;
    color: white;
    margin-top: 20px;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    font-size: large;
    font-weight: bold;
}

/* Now I want to do tranfomation and trinsition of the website*/


