*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #EBEBEB;   
}
header{
    width: 100%;
    background-color: white;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    align-content: center;
}

header .logoB #logo_buntu{
    height: 89px;
    width: 159px;
    margin-right: 368px;
    color: #024A5E;
}
header .cartt #cart{
    width: 35px;
    height: 37px;
    margin-top: 25px;
    margin-left: 20px;
   
}
nav a{
    text-decoration: none;
    margin-right: 56px;
    background-color: #354661;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    color: white;
}
header nav{
    align-content: center;
   
}
header .logoB{
    margin-right: 68px;
}
#section1 .welcome_bar{
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(./assets/p1.webp);
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px 15px 10px 15px;
    align-content: center;
    display: flex;
    justify-content: space-between;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
}
#section1 .welcome_bar #help{
    background-color: #6C8FC3;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
}
.server{
    color: #253790;
    margin: 20px 30px;
}
#section1 .services_info{
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;
    background-color: #E5F3FF;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
}
.services_info .info{
    margin-top: 10px;
}
.services_info .serv{
    color: #253790;
    font-size: xx-large;
    font-weight: 400;
    
}

.services_info #hosting{
    width: 500px;
    height: 180px;
    border-radius: 5px;
}
#section1 .offers{
    background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), url(./assets/p1.webp);
    background-size: cover;
    background-position: center;
    justify-content: center;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 15px;
    padding-bottom: 90px;
    height: inherit;
    margin-top: 40px;
}
.offers h2{
    margin-bottom: 20px;
}
.offers p{
    margin-bottom: 15px;
}
.offers #afford{
    margin-top: 20px;
    background-color: #D9D9D9;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
}
footer{
    padding: 30px;
    background: #354661;
    margin-top: 20px;
    color: white;
    text-align: center;
}
#section2 .our_services{
    background-position: center;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    
}
.our_services .all_service{
    display: flex;
    margin: 40px;
    width: 1005;
    justify-content: space-between;
}
.all_service span{
    background-color: #356480;
    padding: 20px 30px 20px 30px;
    border-radius: 15px;
    color: white;
    text-align: center;
    
}
.all_service span h3,h4{
    margin-bottom: 20px;
}

.all_service span ul li{
    margin-bottom: 10px;
    font-size: small;

}
.all_service span #carrt{
    margin-top: 30px;
    padding: 5px 30px 5px 30px;
    font-weight: bold;
}
.package{
    margin-left: 30px;
    margin-top: 50px;
    margin-right: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    color: #024A5E;
}
.package h3{
    margin-bottom: 20px;
}
.package p{
    padding-left: 20px;
}
.package #interested{
    background-color: #024A5E;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
}
.media{
    display: flex;
    margin-left: 30px;
}
.media .all{
    background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), url(./assets/p1.webp);
    width: 80%;
    margin-right: 80px;
    padding: 30px;
    border-radius: 15px;
    color: white;
}
#go_back{
    background-color: #024A5E;
    color: white;
    font-weight: bold;
    padding: 10px 35px 10px 35px;
    border-radius: 5px;
}
.media_list{
    display: flex;
    margin-bottom: 20px;
}
.all .media_list a{
    text-decoration: none;
    margin-left: 30px;
}

